<div class="bg-gray-200 h-screen flex items-center justify-center">
    <form [formGroup]="registerForm" class="bg-cyan-200 p-6 rounded-lg shadow-lg w-2/5 h-2/4 text-center">
      <h2 class="text-2xl font-semibold mb-4">Register</h2>
      <div class="mb-4">
        <label for="username" class="block text-gray-700">Username</label>
        <input type="text" id="username" formControlName="username" class="form-input" />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700">Email</label>
        <input type="text" id="email" formControlName="email" class="form-input" />
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-700">Password</label>
        <input type="password" id="password" formControlName="password" class="form-input" />
      </div>
      <div class="mb-4">
        <label for="confirmPassword" class="block text-gray-700">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-input" />
      </div>
      <button type="submit" class="bg-blue-500 text-white p-2 rounded" (click)="Register()">Register</button>

      
      <div *ngIf="registerForm.invalid && register_clicked ">
        <div class=" text-red-700">
        Please enter all details
      </div>

    </div>
    </form>
  </div>
  
